body{
    font-family: Arial,sans-serif;
    background-color: #f5f5f5;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background-color: #fff;
    padding:30px 50px;
    border-radius:12px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
    text-align:center;
    width:300px;
}

input{
    display:block;
    width:100%;
    margin:10px 0;
    padding:10px;
    border-radius:6px;
    border:1px solid #ccc;
}

button{
    padding:12px 25px;
    margin:10px 0;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
}

#verifyBtn{
    background-color:#007BFF;
    color:white;
}

#markBtn{
    background-color:#28A745;
    color:white;
}

button:disabled{
    background-color: #ccc;
    cursor: not-allowed;
}

#message{
    margin-top:15px;
    color:#333;
    font-weight:bold;
}
